@font-face {

  font-family: samarn;
  src: url('SAMARN.TTF');
}

h1 {
 text-align: center;
  
}

.hdg {  
  
  font-family: samarn;
}

.block{
  overflow:hidden;
}

.trow {

      display: table-row;
      
}
.trow-c {
  
  font-size: 13px;

}
.alignL {
  text: bold;
}
.alignL, .alignR {
      display: table-cell;
      padding-right: 5px;
      
     
}
.alignR {
    margin: 1px 1px; color: blue;
}

